.form-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 60px 0 80px 0;
}

@media screen and (max-width: 768px) {
  .form-auth {
    padding: 10px 0 80px 0;
  }
}
