.form-auth__link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-left: 5px;
  text-decoration: none;
}

.form-auth__link:hover {
  opacity: 0.6;
}