.profile__avatar-overlay {
  border-radius: 50%;
  width: 132px;
  height: 132px;
  transition: background-color ease .5s;
  position: absolute;
}

.profile__avatar-overlay:hover {
  background-color: rgba(0, 0, 0, .8);
  background-image:  url('../../../images/pen.svg');
  border-radius: 50%;
  background-size: 26px;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}