.form__title_delete {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: rgb(140, 91, 140);
  margin: 120px auto 30px;
  position: relative;
  border: 1px solid red;
}

@media screen and (max-width: 1023px) {
  .form__title {
    margin: 5px 0 0;
    font-size: 18px;
    line-height: 22px;
  }
}
