.element__delete_active {
  background: url('../../../../images/Trash_active.svg');
  background-size: auto;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 18px;
  right: 15px;
}