.form__submit_delete {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 158px;
  height: 50px;
  color: rgb(140, 91, 140);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 auto 320px;
}

.form__submit_delete {
  opacity: 0.8;
}
