.form-auth__input {
  margin: 17px 0 0 0;
  padding: 13px 5px 13px 5px;
  width: 348px;
  height: 14px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  transition: padding 0.3s ease;
  background-color: unset;
  color: #ccc;
  border-bottom: 2px solid #ccc;
}

@media screen and (max-width: 768px) {
  .form-auth__input {
    width: 260px;
  }
}
