.popup {
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  transition: opacity 0.8s, visibility, 0.8s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}
